		<!-- Ici on va utiliser le grid system pour découper la page en rondelles: -->
		<div class="container-fluid">
			<div class="row">
				  <div class="col-sm-9">
					Résultat des recherches
					<div class="row">
						<div class="col-xs-8 col-sm-6">
							Voies trouvées
						</div>
						<div class="col-xs-4 col-sm-6">
							Codes associés
						</div>
					</div>
				</div>
				<div class="col-md-4">Cartographie
				</div>
			</div>
		</div>
		<!-- Fin des rondelles !-->
		
		
		
		<!--
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="page1.html">Home</a></li>
			<li role="presentation"><a href="page2.html">Profile</a></li>
			<li role="presentation"><a href="page3.html">Messages</a></li>
		</ul>
		-->
		<!--
        <div class="container" ng-controller="storeController as storeCtrl">
           <div class="product" ng-repeat="product in storeCtrl.products | orderBy:-price">
                <span>{{ product.label }}</span>
				<i>{{product.price | currency}}</i>
				<button ng-show="product.available == true">Add to cart</button>
				<ul ng-init="tab = 1">
					<button ng-click="tab = 1">Caracteristics</button>
					<li ng-click="tab = 2">Downloads & Support</li>
					<li ng-click="tab = 3">Comments</li>
				</ul>
				<div ng-show="tab === 1" ng-class="{active: tab === 1}">
					{{tab}}
				</div>
				<div ng-show="tab === 2" ng-class="{active: tab === 2}">
					{{tab}}
				</div>
				<div ng-show="tab === 3" ng-class="{active: tab === 3}">
					{{tab}}
				</div>
           </div>
        </div>
		-->
		
