




/*-------------------------- Entête de page ---------------------------*/

.entete1  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	color : #FF7200;
	text-decoration : none;
	text-align : left;
	vertical-align : center;
	
	}

.entete1:link,	
	 A.entete1:active,
	 A.entete1:visited {font-size : 16px;font-family: arial;color:#FF7200;text-decoration:none;}
	 A.entete1:hover {font-size : 16px;font-family: arial;color:#FF7200;text-decoration:underline;
	} 


.entete2:link,	
	 A.entete2:active,
	 A.entete2:visited {font-size : 12px;font-family: arial;color:#000000;text-decoration:none;}
	 A.entete2:hover {font-size : 12px;font-family: arial;color:#FF7200;text-decoration:underline;
	} 

.entete3  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #FF0000;
	text-decoration : none;
	text-align : left;
	vertical-align : center;

	}


.titre  {
	font-family : Amazon;
	font-size : 40px;
	font-weight : bold;
	color : #FF6600;
	text-decoration : none;
	text-align : center;
	vertical-align : center;

	}

.ptitre  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 30px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	text-align : center;
	vertical-align : center;

	}

.Contour  {background-color: #EEEDED ;}

.Txtpetit {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	text-align : center;
	vertical-align : center;
}



IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

	

/*-------------------------- Pied de page ---------------------------*/

.pied  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	text-decoration : none;
	text-align : center;
	vertical-align : left;
	display : table-cell;
	line-height : 12px;
}

.pied:link,	
	 A.pied:active,
	 A.pied:visited {font-size : 12px;font-family: arial;color:#000000;text-decoration:none;vertical-align : middle;}
	 A.pied:hover {font-size : 12px;font-family: arial;color:#FF6600;text-decoration:underline;vertical-align : middle;} 

.piedFond  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
	text-decoration : none;
	text-align : center;
	vertical-align : middle;
	display : table-cell;
	line-height : 12px;
        background-color :   #EEEDED ;
}


.bouton	{
	font-family: Verdana;
	font-size: 12pt;
	color:#000000;
	text-decoration:none;
	background-color: #999999;
	border: 1px solid #FF6600;
}

.bouton:hover	{
	font-family: Verdana;
	font-size: 12pt;
	color:#FFFFFF;
	text-decoration:none;
	background-color: #000000;
	border: 1px solid #FF6600;
}



.bouton2	{
	font-family: Verdana;
	font-size: 18pt;
	color:#FFFFFF;
	text-decoration:none;
	background-color: #000000;
	border: 1px solid #FF6600;
}

.bouton2:hover	{
	font-family: Verdana;
	font-size: 18pt;
	color:#000000;
	text-decoration:none;
	background-color: #999999;
	border: 1px solid #FF6600;
}




.bouton3 {
	background: rgba(70,70,70,.9);
	border: 1px solid #FF6600;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #FFFFFF;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
	}
					
.bouton3:hover {
	background: #000000;
	color:#FFFFFF;
	text-shadow: 0 1px 1px #000000;
	font: 20px Georgia, "Times New Roman", Times, serif;
	cursor: pointer;
		}

.bouton4 {
	background: #999999;
	border: 1px solid #FF6600;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 20px;
	color: #FFFFFF;
	display: block;
	font: 12px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
	}
					
.bouton4:hover {
	background: #000000;
	color:#FFFFFF;
	text-shadow: 0 1px 1px #000000;
	font: 12px Georgia, "Times New Roman", Times, serif;
	cursor: pointer;
		}





.txtti	{
	font-family: Verdana;
	font-size: 9pt;
	color:#28458F;
	text-decoration:none;
	font-weight : bold;
}

.LigneTitreTab {
	color: #FFFFFF;
	background:#FF6600;
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-align : center;
	text-decoration:none;
	font-weight : bold;
}

.LignePiedTab {
	color: #FFFFFF;
	background:#FF6600;
	font-family : Arial, Helvetica, sans-serif;
	font-size: 14pt;
	text-align : center;
	text-decoration:none;
	font-weight : bold;
}


.titnl {
	color: #FFFFFF;
	background:#5080b0;
	font-family: Verdana;
	font-size: 10pt;
	text-decoration:none;
}

.ligneTab 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#DDDDDD;
	font-size: 10pt; 
	color: #000000; 
	text-decoration: none;


}


.ligneTab1 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#DDDDDD;
	font-size: 15pt; 
	color: #000000; 
	text-decoration: none;
	text-align: center;

}





.ligneTab2 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#DDDDDD;
	font-size: 20pt; 
	color: #000FFF; 
	text-decoration: none;

}




.dmTbTitre1  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 25px;
	font-weight : bold;
	color : #FF6600;
	text-decoration : none;
	text-align : center;
	vertical-align : center;

	}

.dmTbTitre2  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	color : #FF6600;
	text-decoration : none;
	text-align : center;
	vertical-align : center;

	}

.dmTbTitre3  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	color : #FF6600;
	text-decoration : none;
	text-align : center;
	vertical-align : center;

	}

.dmTbTitre3:link,	
	 A.dmTbTitre3:active,
	 A.dmTbTitre3:visited {font-size : 16px;font-family:arial;color:#FF6600;text-decoration:none;}
	 A.dmTbTitre3:hover {font-size : 16px;font-family:arial;color:#FF6600;text-decoration:underline;} 

.dmTbSousTitre  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	font-weight : bold;
	color : #FF6600;
	text-decoration : none;
	text-align : left;
	vertical-align : center;
	display : table-cell;
	line-height : 20px;
}

.dmTbSousTitre2  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	font-weight : bold;
	color : #FF6600;
	text-decoration : none;
	text-align : left;
	vertical-align : center;
	display : table-cell;
	line-height : 20px;
}


.dmLienTb:link,	
	 A.dmLienTb:active,
	 A.dmLienTb:visited {font-size : 12px;font-family:arial;color:#000000;text-decoration:none;}
	 A.dmLienTb:hover {font-size : 16px;font-family:arial;color:#FF6600;text-decoration:underline;} 



.dmLienCompare {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #FF6600;
	text-decoration : none;
	text-align : center;
	vertical-align : middle;
	display : table-cell;
	line-height : 12px;
}
.dmLienCompare:link,	
	 A.dmLienCompare:active,
	 A.dmLienCompare:visited {font-size : 10px;font-family:arial;color:#FF6600;text-decoration:none;}
	 A.dmLienCompare:hover {font-size:12px;font-family:arial;font-weight:bold;color:#FF6600;text-decoration:underline;} 


.dmSection  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	text-align : center;
	vertical-align : middle;
	display : table-cell;
	line-height : 12px;
	background-color :   #F8ECDF ;
}

.dmSection:link,	
	 A.dmSection:active,
	 A.dmSection:visited {font-size : 12px;font-family: arial;color:#000000;text-decoration:none;vertical-align : middle;}
	 A.dmSection:hover {font-size : 12px;font-family: arial;color:#FF6600;text-decoration:underline;vertical-align : middle;} 





.dmSectionV  {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color : #000000;
	text-decoration : none;
	text-align : left;
	vertical-align : middle;
	display : table-cell;
	line-height : 16px;
	background-color :   #F8ECDF ;
}

.dmSectionV:link,	
	 A.dmSectionV:active,
	 A.dmSectionV:visited {font-size : 12px;font-family: arial;color:#000000;text-decoration:none;vertical-align : middle;}
	 A.dmSectionV:hover {font-size : 12px;font-family: arial;color:#FF6600;text-decoration:underline;vertical-align : middle;}




.liste1{
width:200px;
font-family:Arial, Helvetica, sans-serif;
font-style:normal;
font-size:10px;
}


.liste2{
width:50px;
font-family:Arial, Helvetica, sans-serif;
font-style:normal;
font-size:10px;
}

.menuSelec {
text-decoration:none;
color:#FF6600;
text-align:center;
font-family:Verdana, Arial;
font-weight:bold;
font-style:normal;
font-size:12px;
background-color:;
}

.ecoPartTxt{position:relative;color:#555;font-size:.85em}

#entete, #menu, #contenu, #footer {
padding:1px 0;
}
#entete {
background-color:#FF9900;
text-align:center;
}
#main {
with:850px;
margin:auto;
}
#menu  {
float:left;
width:440px;
text-align:center;
background-color:#FF3366;
}
#contenu {
margin-left:450px;
text-align:center;
background-color:#9966FF;
}
#footer {
background-color:#669933;
text-align:center;
clear:both;
}
